@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<h2>Introduction</h2>
<p>This document serves as a start  document and project  planning for the practical group assignment, part  of  the “Design  Patterns”course.  The  scope  of  the  course  is  to  enable  students  to  understand various design patterns.Design patterns are a toolkit of solutions to common problems in software design.  It  specifically  concerns  with  communication  between  objects. This  group  project will  be created in accordance and requirementsof the “OIDP -Design Patterns” Module book version 5.0 of 2022.</p>

<h2>Application description</h2>
<p>The group intends to create a Social Media Platform. Such a platform will allow users to create posts and  comments,  and  to  like  said  posts.  Additionally, it  can  notify  users  of  new  posts, comments,or reactions to already existing posts. The application will be presented as a web application and will be written in C# ASP.NET.</p>

<h2>Features</h2>
<ul>
    <li>Creating a post via GUI</li>
    <li>Displaying a list of posts</li>
    <li>Liking a post (self-created or another users)</li>
    <li>Commenting on a post (self-created or another users)</li>
</ul>
