@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1><br/><br/>
    <div class="tenor-gif-embed" data-postid="24427194" data-share-method="host" data-aspect-ratio="1.14695" data-width="100%">
        <a href="https://tenor.com/view/127hater-spongebob-gif-24427194">127hater Spongebob GIF</a>from <a href="https://tenor.com/search/127hater-gifs">127hater GIFs</a>
    </div>
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</div>
